body {
    background-color: antiquewhite;
    color: rgb(13, 112, 112);
}
h1 {
    padding: 20px 0;
}
header {
    display: flex;
    justify-content: space-between;
}
#headerSpan {
    font-size: 18px;
}
footer {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
}
.logos {
    width: 30px;
    margin-top: 0px;
}
.footerPara {
    margin-top: 25%;
    font-size: larger;
    font-weight: bold;
}
