header {
    background-color: antiquewhite;
    text-align: center;
    padding: 10px;
    
}
body {
    background-image: url(img/background3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(13, 112, 112);
    text-align: center;
    height: 100%;
}
img {
    width: 400px;
    border-radius: 200px;
    margin: 20px;
    opacity: 75%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}
h2 {
    background-color: antiquewhite;
    opacity: 75%;
    border-radius: 50%;
}
footer {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
}
.logos {
    width: 30px;
    margin-top: 0px;
}
.footerPara {
    margin-top: 25%;
    font-size: larger;
    font-weight: bold;
}
#main-page-btn {
    background-color: teal;
    border: none;
    color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}